/* fonts */

/************* Uncomment the font face *************/


/*
@font-face {
	font-family: 'Font Name';
	src: url('fonts/font_name.eot');
	src:  url('fonts/font_name.woff') format('woff'), 
	url('fonts/font_name.ttf') format('truetype'), 
	url('fonts/font_name.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
*/



/* Body */
	* { 
		margin: 0;
		padding: 0px;
	} 

	body{
		padding-bottom: 10px;
	}


/************* Layouts *************/
h1,h2,h3,h4,h5,h6,p,a{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.banner img{
	width: 100%;
}
.primary-title{
	color:#7d97ad;
}
.secondary-title{
	color: #3d3c49;
}

/************* General Styles *************/
.navbar {
	
	border-bottom: 3px solid #7d97ad;
}
.navbar-text{
	color: #2d3c49;
}
.navbar-brand img{
	width: 80px
}


/************* Custom Classes *************/


/************* div specific styles *************/


/************* Page specific styles (optionally) *************/

